@keyframes pointerAnimation {
	0% {
		transform: translateY(0) scale(1.1);
	}
	50% {
		transform: translateY(6px) scale(1);
	}
	100% {
		transform: translateY(0) scale(1.1);
	}
}

.pointer {
	position: relative;

	.icon {
		position: absolute;
		top: -36px;
		left: -20px;
		animation-name: pointerAnimation;
		animation-duration: 1s;
		animation-iteration-count: infinite;

		svg {
			width: 40px;
			height: 40px;
		}

		path {
			fill: red;
		}
	}
}

.title {
	align-items: center;
	color: var(--primary-color);
	font-size: 18px;
	display: inline-block;
	background-color: #fff;
	padding: 5px 10px;
	font-weight: 700;
	border-radius: 5px;
}
