.trainers {
    padding: 60px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        text-align: center;
        max-width: 600px; 
        margin: 0 auto 50px;
    }
}

.slider{
    .slide {
        position: relative;
        height: 400px;
        overflow: hidden;

        &:hover .description{
            top: 0;
            box-shadow: inset 0 0 5px var(--primary-color);
        }

        img {
            object-fit: cover;
        }
    }

    .description {
        position: absolute;
        transition: top .4s, box-shadow .7s ease-in-out;
        background-color: rgba(18, 18, 18, 85%);
        z-index: 2;
        top: 290px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 10px;
    }

    .heading {
        text-align: center;
        margin-bottom: 15px;

        h2{
            margin-bottom: 10px;
            text-transform: capitalize;
        }

        *:last-child{
            margin-bottom: 0;
        }
    }

    .achievements {
        list-style: none;
        margin: 0;
        padding: 0 0 0 18px;
        font-size: 14px;

        li {
            position: relative;
            margin-bottom: 5px;

            &:before{
                content: '-';
                position: absolute;
                left: -18px;
                top: 0px;
            }
        }
        
    }
}