.WhyChooseUs {
	padding: 67px 0;
	min-height: 100vh;

	.content {
		margin: 0 auto;
		max-width: 600px;
		text-align: center;
	}

	.cardHolder {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@media screen and (max-width: 1023px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: 767px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.card {
		border: 1px solid var(--primary-color);
		padding: 20px;
	}

	.img {
		margin-bottom: 30px;
		height: 330px;
		overflow: hidden;

		@media screen and (max-width: 1300px) {
			height: 260px;
		}

		img {
			width: 100%;
			object-fit: cover;
		}
	}
}
