.banner {
	padding: 115px 0 50px;
	background-image: url(../../assets/images/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	align-items: center;

	@media screen and (max-width: 767px) {
		padding-top: 90;
	}

	.container {
		width: 100%;
	}

	h1 {
		font-size: 98px;
		font-weight: 400;
		margin: 0 0 4px;
		text-transform: uppercase;

		@media screen and (max-width: 1023px) {
			font-size: 80px;
		}

		@media screen and (max-width: 767px) {
			font-size: 50px;
		}
	}

	.content {
		max-width: 600px;
		background-color: rgba(0, 0, 0, 80%);
		box-shadow: 0 0 150px 150px rgba(0, 0, 0, 80%);;
	}

	.paragraph {
		margin-bottom: 56px;

		@media screen and (max-width: 1023px) {
			margin-bottom: 30px;
		}
	}
}

.achievements {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;

	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		padding: 0 10px;
		width: 33.33%;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 1px;
			background-color: var(--gray-color);
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	.number {
		font-family: var(--bebas-font);
		color: var(--primary-color);
		font-size: 50px;
		line-height: 1.15em;

		@media screen and (max-width: 1023px) {
			font-size: 30px;
		}
	}

	.description {
		font-size: 16px;
		font-weight: 300;

		@media screen and (max-width: 1023px) {
			font-size: 14px;
		}
	}
}
