.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: var(--bebas-font);
	text-transform: uppercase;
	font-size: 16px;
	display: flex;
	gap: 30px;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		background-color: var(--secondary-color);
		padding: 20px 0;
		box-shadow: 0 0 7px var(--primary-color);
		gap: 5px;
		text-align: center;
		position: absolute;
		z-index: 3;
		min-width: 290px;
		top: 100%;
		right: 15px;
		transform: translateX(110%);

		transition: transform 0.3s ease-out;
	}

	&.mobile {
		transform: translateX(0);
	}

	a {
		color: var(--color-white);
		text-decoration: none;
		position: relative;
		transition: color 0.3s ease-out;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 1px;
			background-color: var(--primary-color);
			width: 0;
			transition: width 0.3s ease-out;
		}

		&:hover {
			color: var(--primary-color);

			&:before {
				width: 100%;
			}
		}
	}
}

.active {
	display: flex;
	flex-direction: column;
}
