header {
	position: fixed;
	z-index: 10;
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid var(--white-color);
	transition: padding 0.3s, background-color 0.3s ease-out;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.scroll {
		padding: 10px 0;
		background-color: rgba(18, 18, 18, 80%);
	}
}

.logo {
	max-width: 65px;
	transition: max-width 0.3s ease-out;

	@media screen and (max-width: 767px) {
		max-width: 45px;
	}

	.scroll & {
		max-width: 50px;
	}
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: var(--bebas-font);
	text-transform: uppercase;
	font-size: 21px;
	display: flex;
	gap: 40px;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		background-color: var(--secondary-color);
		padding: 20px 0;
		box-shadow: 0 0 7px var(--primary-color);
		gap: 5px;
		text-align: center;
		position: absolute;
		z-index: 3;
		min-width: 290px;
		top: 100%;
		right: 15px;
		transform: translateX(105%);

		transition: transform 0.3s ease-out;
	}

	&.mobile {
		transform: translateX(0);
	}

	a {
		text-decoration: none;
		position: relative;
		transition: color 0.3s ease-out;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 1px;
			background-color: var(--primary-color);
			width: 0;
			transition: width 0.3s ease-out;
		}

		&:hover {
			color: var(--primary-color);

			&:before {
				width: 100%;
			}
		}
	}
}

.active {
	display: flex;
	flex-direction: column;
}
