.contactUs {
	background-image: url("../../../assets/images/bg-contact-us.jpg");
	background-size: cover;
	padding: 60px 0;
	position: relative;
	min-height: calc(100vh - 85px);
	display: flex;
	align-items: center;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(18, 18, 18, 90%);
		z-index: 1;
	}

	@media screen and (max-width: 767px) {
		min-height: auto;
	}

	.wrapper {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		gap: 40px;

		@media screen and (max-width: 1023px) {
			flex-direction: column;
		}
	}

	.mapHolder {
		width: 50%;
		overflow: hidden;
		border: 1px solid var(--primary-color);
		padding: 15px;

		@media screen and (max-width: 1023px) {
			width: 100%;
			height: 300px;
		}
	}
}

.contactForm {
	display: grid;
	gap: 30px;
	grid-template-areas:
		"A A A A   A A B B   B B B B"
		"C C C C   C C C C   C C C C"
		"D D D D   D D D D   D D D D";

	@media screen and (max-width: 1023px) {
		grid-template-areas:
			"A A A A   A A A A   A A A A"
			"B B B B   B B B B   B B B B"
			"C C C C   C C C C   C C C C"
			"D D D D   D D D D   D D D D";
	}
	.box1,
	.box2,
	.box3,
	.box4 {
		position: relative;
	}

	.box1 {
		grid-area: A;
	}
	.box2 {
		grid-area: B;
	}
	.box3 {
		grid-area: C;
	}
	.box4 {
		grid-area: D;
	}

	.message,
	.name,
	.email {
		width: 100%;
		outline: none;
		background-color: transparent;
		border: 1px solid var(--white-color);
		color: var(--white-color);
		padding: 5px 10px;
		transition: box-shadow 0.3s ease-out;
	}

	.name,
	.email {
		border-radius: 0px;
		height: 50px;
	}

	textarea {
		display: block;

		@media screen and (max-width: 1023px) {
			height: 100px;
		}
	}

	input:focus,
	textarea:focus {
		border-color: var(--primary-color);
		box-shadow: 0 0 7px var(--primary-color);
	}
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	display: block;
	color: red;
	font-size: 14px;
}
