html {
	scroll-behavior: smooth;
	scroll-padding: 30px;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: var(--secondary-color);
	color: var(--white-color);
	font-family: var(--montserrat-font);
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	font-size: 16px;
}

#root {
	overflow: hidden;
	position: relative;
}

a {
	text-decoration: none;
	color: var(--white-color);
	position: relative;
	transition: color 0.3s ease-out;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
		height: 1px;
		background-color: var(--white-color);
		width: 0;
		transition: width 0.3s ease-out;
	}

	&:hover {
		color: var(--white-color);

		&:before {
			width: 100%;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--oswald-font);
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	margin: 0 0 1.2rem;
	text-transform: capitalize;
}

h1 {
	font-size: 91px;

	@media screen and (max-width: 1023px) {
		font-size: 50px;
	}
}

h2 {
	font-size: 30px;
	line-height: 1.1;
}

h3 {
	font-size: 28px;
	margin: 0 0 0.2rem;
}

h4 {
	font-size: 16px;
	margin: 0 0 1rem;
}

p {
	margin: 0 0 24px;
}

.container {
	width: 100%;
	max-width: 1274px;
	margin: 0 auto;
	padding: 0 15px;
}

.blueText {
	color: var(--primary-color);
}
