:root {
	--primary-color: #3441ff;
	--secondary-color: rgba(18, 18, 18, 100%);
	--white-color: #fff;
	--black-color: #000;
	--gray-color: #e2e2e2;

	--oswald-font: "Oswald", sans-serif;
	--montserrat-font: "Montserrat", sans-serif;
}
