header {
	position: fixed;
	z-index: 10;
	width: 100%;
	padding: 15px 0;
	transition: padding 0.3s, background-color 0.3s ease-out;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.scroll {
		padding: 10px 0;
		background-color: rgba(18, 18, 18, 90%);
	}
}

.logo {
	max-width: 65px;
	transition: max-width 0.3s ease-out;

	@media screen and (max-width: 767px) {
		max-width: 45px;
	}

	.scroll & {
		max-width: 50px;
	}
}
