footer {
	position: relative;
	padding: 30px 0 20px;

	a {
		text-decoration: none;
		color: var(--white-color);
		position: relative;
		transition: color 0.3s ease-out;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 1px;
			background-color: var(--white-color);
			width: 0;
			transition: width 0.3s ease-out;
		}

		&:hover {
			color: var(--white-color);

			&:before {
				width: 100%;
			}
		}
	}

	.logo {
		max-width: 70px;

		@media screen and (max-width: 767px) {
			flex-basis: 100%;
		}

		a {
			&:before {
				display: none;
			}
		}
	}

	.holder {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding-bottom: 30px;

		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			gap: 30px;
		}
	}

	.navHolder {
		@media screen and (max-width: 767px) {
			flex-basis: 100%;
		}
	}

	.bottomFooter {
		padding: 15px 10px 0;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.5);

		p {
			font-size: 14px;
			color: rgba(255, 255, 255, 0.5);
			margin: 0;
		}
	}

	.socialLink {
		a {
			&:before {
				display: none;
			}

			&:hover {
				svg {
					box-shadow: 0 0 20px 5px var(--primary-color);
					background-color: rgba(52, 65, 255, 50%);
				}
			}

			svg {
				transition: all 0.2s ease-in-out;
			}
		}
	}
}

.schedule,
.contactInformation {
	@media screen and (max-width: 767px) {
		flex-basis: 50%;
	}

	li {
		display: flex;
		align-items: center;
		gap: 10px;

		@media screen and (max-width: 767px) {
			justify-content: center;
		}
	}
}

.topFooter {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		font-family: var(--bebas-font);
		font-size: 12px;
		display: flex;
		flex-direction: column;
		gap: 7px;
	}
}
