footer {
	padding: 30px 0 20px;

	.logo {
		max-width: 70px;
		padding-bottom: 20px;

		@media screen and (max-width: 767px) {
			max-width: 50px;
		}
	}

	.holder {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding-bottom: 30px;
	}

	.bottomFooter {
		padding: 15px 10px 0;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.5);

		p {
			font-size: 14px;
			color: rgba(255, 255, 255, 0.5);
			margin: 0;
		}
	}
}

.schedule,
.contactInformation {
	li {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

.topFooter {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		font-family: var(--bebas-font);
		font-size: 12px;
		display: flex;
		flex-direction: column;
		gap: 7px;
	}
}
