.nav {
	@media screen and (max-width: 1023px) {
		font-size: 18px;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;
		gap: 5px;
		text-align: center;
		font-size: 16px;
	}

	a {
		text-decoration: none;
		position: relative;
		transition: color 0.3s ease-out;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 1px;
			background-color: var(--white-color);
			width: 0;
			transition: width 0.3s ease-out;
		}

		&:hover {
			color: var(--white-color);

			&:before {
				width: 100%;
			}
		}
	}
}
