.backToTop {
	font-family: var(--bebas-font);
	font-size: 20px;
	text-decoration: none;
	color: var(--primary-color);
	text-transform: uppercase;
	border: 1px solid var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 150px;
	right: 30px;
	transition: background-color 0.3s, color 0.3s ease-out;

	@media screen and (max-width: 1023px) {
		right: 15px;
		bottom: 200px;
		width: 40px;
		height: 40px;
		font-size: 14px;
	}

	@media screen and (max-width: 767px) {
		right: 15px;
		bottom: 100px;
		width: 40px;
		height: 40px;
		font-size: 14px;
	}
}

.backToTop:hover {
	cursor: pointer;
	color: var(--white-color);
	background-color: var(--primary-color);
}
