.opener {
	display: none;
	width: 40px;
	height: 30px;
	flex-direction: column;
	justify-content: center;
	position: relative;
	cursor: pointer;

	span {
		height: 2px;
		background: var(--white-color);

		&:after,
		&:before {
			content: "";
			left: 0;
			right: 0;
			height: 2px;
			position: absolute;
			background: var(--white-color);
			transition: transform 0.3s ease-out;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}

	.mobile + & span {
		background: transparent;

		&:before {
			top: 50%;
			transform: rotate(45deg);
		}

		&:after {
			top: 50%;
			transform: rotate(-45deg);
		}
	}

	@media screen and (max-width: 767px) {
		display: flex;
	}
}
