.about {
	position: relative;
	min-height: calc(100vh - 85px);
	background-image: url(../../assets/images/bg-about.png);
	background-size: cover;
	padding: 120px 0;
	display: flex;
	align-items: center;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(18, 18, 18, 90%);
		z-index: 1;
	}

	@media screen and (max-width: 767px) {
		padding: 60px 0;
	}

	.wrapper{
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		gap: 40px;
		align-items: flex-start;

		@media screen and (max-width: 767px) {
			flex-direction: column-reverse;
		}
	}

	.textHolder {
		width: 50%;

		@media screen and (max-width: 767px) {
			width: 100%;
		}
		
		*:last-child {
			margin: 0;
		}
	}

	.imgHolder{
		flex-basis: 370px;
		flex-shrink: 0;
		position: relative;
		margin-right: 40px;

		&:before, &:after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:before {
			border: 1px solid var(--primary-color);
			transform: translate(-44px, -36px);
		}

		&:after {
			border: 1px solid yellow;
			transform: translate(44px, 36px);
		}


		@media screen and (max-width: 1023px) {
			flex-basis: 250px;

			&:before {
				border: 1px solid var(--primary-color);
				transform: translate(-24px, -16px);
			}
	
			&:after {
				border: 1px solid yellow;
				transform: translate(24px, 31px);
			}
		}

		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}
