.slider {
	margin: 0 auto;

	@media screen and (max-width: 1274px) {
		max-width: 980px;
	}

	@media screen and (max-width: 1023px) {
		max-width: 720px;
	}

	@media screen and (max-width: 767px) {
		max-width: 300px;
	}

	.slide {
		position: relative;
		height: 350px;
		overflow: hidden;
		margin-bottom: 65px;

		&:hover .description {
			top: 0;
			overflow: auto;
			box-shadow: inset 0 0 5px var(--primary-color);
		}

		@media screen and (max-width: 1274px) {
			height: 300px;
		}

		img {
			object-fit: cover;
		}
	}

	.swiper-pagination-bullet {
		/* background-color: var(--white-color); */
		opacity: 1;
		position: relative;
		border: 1px solid var(--white-color);
		width: 20px;
		height: 20px;
		margin: 0 10px !important;

		&:before {
			content: "";
			position: absolute;
			top: 6px;
			right: 6px;
			bottom: 6px;
			left: 6px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 70%);
		}
	}

	.swiper-pagination-bullet-active {
		/* background-color: var(--primary-color); */
		border: 1px solid var(--primary-color);
		background-color: transparent;

		&:before {
			background-color: var(--primary-color);
		}
	}

	.description {
		-ms-overflow-style: none;
		scrollbar-width: none;
		position: absolute;
		transition: top 0.4s, box-shadow 0.7s ease-in-out;
		background-color: rgba(18, 18, 18, 85%);
		text-transform: lowercase;
		z-index: 2;
		top: 260px;
		left: 0;
		right: 0;
		bottom: 0;

		@media screen and (max-width: 1274px) {
			top: 235px;
		}

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	.heading {
		text-align: center;
		padding: 10px 10px 0;
		margin-bottom: 10px;

		h2 {
			margin-bottom: 10px;
			text-transform: capitalize;
			white-space: pre-wrap;

			@media screen and (max-width: 1274px) {
				font-size: 20px;
			}
		}

		p {
			@media screen and (max-width: 1274px) {
				font-size: 14px;
			}
		}

		*:last-child {
			margin-bottom: 0;
		}
	}

	.achievements {
		list-style: none;
		margin: 0;
		padding: 0 10px 15px 28px;
		font-size: 14px;

		@media screen and (max-width: 1274px) {
			font-size: 12px;
		}

		li {
			position: relative;
			margin-bottom: 5px;

			&:before {
				content: "-";
				position: absolute;
				left: -18px;
				top: 0px;
			}
		}
	}
}
